<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="DefaultMsgGenType" value="Chisp1.Chisp1MessageGenerator" />
    <!-- WPS Url to get upstream stations-->
    <add key="WPSLink" value="http://64.72.74.103:8080/wps/?request=execute&amp;version=1.0.0&amp;identifier=find_upstream_gauges&amp;datainputs=latitude={0}%3Blongitude={1}" />
    <!-- WNS Url -->
    <add key="WNSLink" value="http://59.125.87.213/WNS/notification/wns.ashx" />
    <!-- CSW Url for gaining measure data -->
    <add key="CSWLink" value="http://ec2-107-22-84-193.compute-1.amazonaws.com/pycsw/csw.py" />
    <!-- Url of CAP Alert Seed -->
    <add key="CapAlertSeed" value="https://sandbox2.masas-sics.ca/hub/feed" />
  </appSettings>
  <connectionStrings>
    <!-- the connection string for edmx -->
    <add name="WNSEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DB Address,1521;Initial Catalog=WNSDB;User ID=DB Account;Password=DB Password;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net> <!-- setting log4net -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="log file path" /> <!-- the place to create log file -->
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy-MM-dd HH:mm:ss} %level %newline %message%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.net>
    <mailSettings> <!-- the mail server setting for WNS -->
      <smtp from="sender's email">
        <network defaultCredentials="false" enableSsl="true" host="sender's smtp" password="sender's password" port="25" userName="sender's name" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>